---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}



<section id="teaching-philosophy">
  <p>
    When I teach, my goal is to help students develop critical reasoning skills and to build a student’s intuition as to when solutions to problems make sense.  I want students to both build a deeper understanding of mathematics and to be able to apply their critical reasoning skills to new situations and to understand when proposed solutions to problems in the real world make sense.  I have developed my teaching skills and philosophy from teaching a variety of courses at different levels as well as through mentoring young athletes as a former rock climbing coach.
  </p>


  
</section>

<hr />

<section id="teaching-experience">
  <h2>Courses and Experience</h2>
  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
</section>
